/*Farhan Khandaker, Fu Pei Jiang*/

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    margin: 0px;
}

header {
    text-align: center;
    background-color: darkmagenta;
    color: white;
    min-height: auto;
    min-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    font-size: 1.5em;
    min-height: auto;
    min-width: 100%;
}

main {
    padding: 1%;
    flex: 1;
    display: flex;
    min-height: auto;
    max-width: 100%;
}

#main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    max-width: 100%;
    min-height: 100%;
}

#form {
    display: flex;
    background-color: beige;
    max-width: 100%;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0px;
}

fieldset>div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

fieldset>div>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

fieldset>div>div>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border: solid black 1px;
    width: 90%;
    margin: 3% 0%;
    padding: 5px;
}

.input_containers {
    text-align: center;
    width: 100%;
    margin: 1%;
    display: flex;
    align-items: center;
}

legend {
    margin: 0px auto;
}

input, textarea, select {
    width: 90%;
}

#description_container {
    height: 80%;
}

textarea {
    height: 100%;
}

.feedback {
    background-color: #E93F3C;
    margin: 0px;
    text-align: center;
    width: 100%;
    display: none; /* javascript will `display: block` it */
}

#buttons_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 1% 1%;
}

#buttons_localStorage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 1% 1%;
}

button {
    height: 50px;
    width: 180px;
    min-width: 100px;
    background-color: #0561AE;
    color: white;
    font-size: 1em;
    border-color: white;
}

#table {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    padding: 1% 0%;
}

#search_container {
    text-align: center;
}

#table_container {
    display: flex;

    margin: 1%;
    overflow-x: auto;
}

#table_of_projects {
    flex: 100%;
    background-color: white;
    text-align: center;
}

#table_of_projects > thead {
    background-color: darkgreen;
    color: white;
    width: 100%;
}

#table_of_projects td {
    border: solid grey 1px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table_of_projects > tbody>tr:nth-child(even) {
    background-color: lightgrey;
}

.edit_buttons:hover, .delete_buttons:hover {
    background-color: wheat;
}

img {
    max-height: 20px;
}

.sort{
    height: 12px;
    margin: 0px 5px ;
}

.sortButton:hover{
    background-color: #2E8B57;
}